[Unit]
Description=Adds correct CPU Info, from FOXBI
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/cpuinfo.sh

[Install]
WantedBy=multi-user.target
